# ----- Core -----
airfoils>=0.2.2
ambiance>=1.0.0
commonlibs>=0.5.0
matplotlib==3.3.4
model-framework>=0.0.20
numpy==1.20.1
scipy==1.6.1

# ----- Testing -----
codecov==2.1.11
coverage==5.4
pytest-cov==2.11.1
pytest==6.2.2
tox==3.22.0

# ----- Documentation -----
Sphinx==3.5.1
sphinx-rtd-theme==0.5.1
sphinxcontrib-mermaid==0.6.3
