# ----- Core -----
airfoils>=0.2.2
ambiance>=1.0.0
commonlibs>=0.5.0
matplotlib==3.3.3
model-framework
numpy==1.19.4
scipy==1.5.4

# ----- Testing -----
codecov==2.1.10
coverage==5.3
pytest-cov==2.10.1
pytest==6.1.2
tox==3.20.1

# ----- Documentation -----
Sphinx==3.3.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-mermaid==0.5.0
